@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');

.footer {

    padding: 0px 100px;
    margin-top: 40px;

    border-top: 2px solid;
    border-image: linear-gradient(to right, #92007E 10%, #05A0CA) 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "inter", sans-serif;
    width: 100%;
}

.texto-footer {
    font-size: 1rem;
    padding-top: 40px;
}

.icone-footer {
    color: #05A0CA;
}