@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');

.inicio{
    margin: 0;
    padding: 10%;
    background-color: black;
    background-image: url('../assets/fotos-fundos/fundo1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

    
}
.texto-icicio{
    color: rgb(255, 255, 255);
    text-align: center;
}
.titulo{
    font-family: "Jura", sans-serif;
    font-weight: 600;
    font-size: 4rem;
}
.texto{
    font-family: "Inter", sans-serif;
    font-size: 4.5rem;
    text-shadow: 2px 2px 1px #000000;
    font-weight: 650;
    padding: 10px;
    opacity: 90%;
    line-height: 1.2;
}
.destacado{
    display: block;
    color: #05A0CA;
    text-shadow: 3px 3px 1px #000000;
    font-size: 5rem;
    font-weight: 500;
    padding: 0px;
}
.botoes{
    text-align: center;
    font-family: "Inter", sans-serif;

    padding: 3%;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    
    display: flex;
    gap: 20px;
}
.botao1, .botao2{
    padding: 15px 20px;
    font-size: 1.7rem;
    border-radius: 50px;
    font-weight: 500;
    color: white;

}
.botao1{
    background-image: linear-gradient(to right, #05A0CA , #92007E); 
    border: 2px solid #f8f8f8;
    
}
.botao2{
    color: white;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box,
        linear-gradient(to right, #92007E, #05A0CA) border-box;
    border-radius: 50px;
    border: 3px solid transparent;
}

.botao1:hover{
    transform: scale(1.05);
    border: 2px solid #00c8ff;
    color: #00c8ff;
}
.botao2:hover{
    transform: scale(1.05);
    border: 2px solid #00c8ff;
    color: #00c8ff;
}

