

.navbar{
    max-width: 100%!important;
    background-color: black!important;
    overflow: hidden!important;
    position: fixed!important;
    top: 0!important;
    width: 100%!important;
}

.navbar-brand{
    padding: 0px 50px;
    color: #05A0CA !important; 
    font-weight: bold;
    font-size: 2rem !important;
}
.navegacao{
    margin-right: 20%;
}

.navegacao .nav-link{
    font-size: 1.1rem;
    color: #ffffff !important; 
    font-family: 'Inter', sans-serif; 
    transition: 0.3s;
    opacity: 80%;
    margin-left: 9%;
    width: 100%;
}

.navegacao .nav-link:hover {
    color: #00d4ff !important; /* O azul vibrante do teu gradiente */
}